<!--<ul>-->
  <!--<% @taches_possibles.each do |p| %>-->
    <!--<li><%= p.texte %></li>-->
  <!--<% end %>-->
<!--</ul>-->


<%= f.label 'Types de tâches possibles' %><br>
<% for typeTache in @animal_choisi.type_tache.all %>
  <%= check_box_tag 'location[type_taches][]', typeTache.id, checked=false %>
  <%= typeTache.nom %>
  <br>
<% end %>