<!--<p id="notice"><%= notice %></p>-->

<h1>Listing Animals</h1>

<table class="table table-striped table-hover table-bordered table-responsive">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Status</th>
      <th>Prix journalier</th>
      <th>Ferme</th>
      <th>Espece</th>
      <th>Taches possibles</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <%= render :partial => "animal", :locals => {:animal => animal, :printFarm => true, :printRemoveFarm => false} %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, Animal %>
    <%= link_to 'New Animal', new_animal_path %>
<% end %>