<% content_for :actions_specifiques do %>
    <%= render :partial => "actions_specifiques",
               :locals => {:action => "show" } %>
<% end %>

<h1>Type de tache</h1>

<p>
  <strong>Nom:</strong>
  <%= @type_tach.nom %>
</p>

<%= link_to 'Modifier', edit_type_tach_path(@type_tach) %> |
<%= link_to 'Retour', type_taches_path %>
