<% content_for :actions_specifiques do %>
    <%= render :partial => "actions_specifiques",
               :locals => {:action => "edit" } %>
<% end %>

<h1>Modification d'une espece</h1>

<%= render 'form' %>

<%= link_to 'Afficher', @espece %> |
<%= link_to 'Retour', especes_path %>
